* {
    margin: 0;
    box-sizing: border-box;
}

a.nav-link {
    padding-top: 20px;
    color: white;
}

.fa-circle {
    font-size: 60px;
    color: #b91923;
}

#logo-text {
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: fixed;
    top: 28px;
    left: 26px;
}

.dropdown-menu {
    padding: 0 !important;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.dropdown-item {
    padding: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#home {
    width: 100vw;
    height: 100vh;
}

.jumbotron {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url('./images/outsideDance2.png') top center;
    height: 100vh;
}

.introText {
    font-size: 50px !important;
    color: white;
}

#introTextP {
    font-size: 30px;
    color: white;
}

#introImage {
    width: 100%;
}

#introText {
    position: relative;
    top: -350px;
    text-align: center;
    color: white;
}

#introtagLine {
    position: relative;
    top: -350px;
    text-align: center;
    color: white;
}

#contact-h4 {
    margin-top: 40px;
    text-align: center;
}

#form-container {
    padding-top: 30px;
    width: 80%;
    margin: auto;
}

#btn-container {
    display: flex;
    justify-content: center;
}

#newsLetterBtn {
    width: 50%;
}

#followUsContainer {
    display: flex;
    justify-content: center;
}

#follow-h4 {
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}

.fab {
    font-size: 30px;
    padding: 15px;
}

footer {
    width: 100%;
    margin-top: 40px;
    background: #b91923;
    color: white;
    height: 80px;
}

#footerText {
    text-align: center;
}