* {
    margin: 0;
    box-sizing: border-box;
}

a.nav-link {
    color: white;
}

.fa-circle {
    font-size: 50px;
    color: #b91923;
}

#logo-text {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    position: fixed;
    top: 30px;
    left: 28px;
}

.dropdown-menu {
    padding: 0 !important;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.dropdown-item {
    padding: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#home {
    width: 100vw;
    height: 100wh;
}

#introImage {
    width: 100%;
}

#section-h4 {
    margin-top: 40px;
    text-align: center;
}

#form-container {
    padding-top: 30px;
    width: 80%;
    margin: auto;
}

#btn-container {
    display: flex;
    justify-content: center;
}

#newsLetterBtn {
    width: 50%;
}